:root {
  --primary: #4a0152;
  --secondary: #880497;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.hidden {
  display: none;
}

.white {
  color: white;
}

.white-h:hover {
  color: white;
}

.grey {
  color: rgb(169, 169, 169);
}

.purple {
  color: var(--secondary);
}

/* ----------Loader & Alert ----------*/

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid var(--secondary); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  padding: 20px;
  color: white;
  background-color: #f44336;
  width: fit-content;
  min-width: 300px;
  font-size: 20px;
  margin: 5px auto;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.667);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: white;
}

/* ----------Login, Register & Reset Screen---------- */
.login-screen,
.register-screen,
.reset-screen {
  height: 130vh;
  width: 100%;
  position: absolute;
  z-index: 4;
  background-color: white;
}

.login-screen hr {
  width: 100%;
  margin: 50px auto;
}

.login-box,
.reset-box {
  max-width: 500px;
  margin: 50px auto;
  padding: 10px;
}

.input-field {
  width: 95%;
  height: 25px;
  font-size: 15px;
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

.login-brand {
  color: black;
  text-align: center;
}

.lg-logo {
  width: 60px;
}

.lg-brand-text {
  display: inline;
  padding-left: 5px;
  position: relative;
  bottom: 20px;
  font-size: 30px;
}

.login-btn,
.reset-btn {
  margin-top: 10px;
  margin-left: 130px;
  background-color: var(--secondary);
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  border-radius: 30px;
  font-size: 20px;
  font-family: inherit;
}

.login-btn:hover {
  background-color: var(--primary);
}

.sign-up-btn {
  background-color: white;
  color: var(--primary);
  padding: 10px 20px;
  margin-left: 60px;
  border: 1px solid var(--primary);
  border-radius: 30px;
  font-size: 20px;
  font-family: inherit;
}

.sign-up-btn:hover {
  background-color: var(--secondary);
  color: white;
}

.login-screen h3 {
  text-align: center;
  margin-bottom: 70px;
}

.register-btn {
  background-color: var(--secondary);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 30px;
  font-size: 20px;
  font-family: inherit;
  padding: 10px 20px;
  margin-top: 15px;
}

.register-btn:hover {
  background-color: var(--primary);
}

.pl-10 {
  padding-left: 10px;
}

/* ----------Verify & Email Screen---------- */

.verify-screen,
.email-screen {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 100vh;
  padding-top: 20px;
  z-index: 10;
}

.verify-box,
.email-box {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.send-email-btn,
.verify-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  background-color: var(--primary);
  color: white;
  border-radius: 30px;
  border: none;
}

.send-email-btn:hover,
.verify-btn:hover {
  background-color: var(--secondary);
}

/* ----------Main Content---------- */
.main-content {
  background-image: linear-gradient(var(--primary), black);
  height: 100vh;
  width: 100vw;
}

.home-screen {
  position: absolute;
  z-index: 1;
  margin-left: 260px;
  width: 80%;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.profile-dropdown {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 10px;
  padding-top: 15px;
}

.profile-btn {
  background-color: #131313;
  color: white;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
}

.profile-btn-content {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  width: 100px;
  margin-left: 10px;
}

.profile-dropdown:hover .profile-btn-content {
  display: block;
}

.profile-btn-content p {
  color: rgba(255, 255, 255, 0.641);
  padding: 12px 16px;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

.profile-btn-content p:hover {
  color: white;
  background-color: #393939;
}

/* ----------HomeScreen Playlists----------*/

.playlist-container {
  width: 100%;
  height: 500px;
}

.playlist {
  width: 380px;
  height: 80px;
  background-color: #7676764f;
  transition: 1s;
  margin-right: 20px;
  margin-bottom: 20px;
}
.playlist:hover {
  background-color: #b6b6b64f;
  transition: 1s;
}

.playlist img {
  width: 80px;
  height: 80px;
}

.playlist h4 {
  position: relative;
  bottom: 10px;
  left: 15px;
  overflow: hidden;
  width: 70%;
  height: 22px;
}

/* ----------Bottom Bar---------- */

.bottom-bar {
  background-color: #1e1e1e;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 90px;
  border-top: 1px solid #3d3d3d;
  color: white;
  display: flex;
}

.current-song {
  color: white;
  display: flex;
  z-index: 1;
  overflow: hidden;
}

.btm-img-sm {
  width: 64px;
  height: 64px;
  padding: 10px;
}

.btm-img-bg {
  width: 256px;
  height: 256px;
}

.img-bg-container {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  bottom: 100px;
}

.btm-images:hover .img-bg-container {
  display: block;
}

.current-song h5 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.current-song h6 {
  margin-top: 0px;
  color: rgb(169, 169, 169);
}

.music-controls {
  padding-top: 20px;
  background-color: inherit;
  min-height: 100%;
  min-width: 40%;
  position: absolute;
  z-index: 2;
  left: 25%;
  overflow: clip;
}

.progress-container {
  background-color: grey;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;
  height: 4px;
  width: 80%;
}

.progress-bar {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: 0.1s ease;
}

.sound-controls {
  position: absolute;
  right: 10px;
  width: 30%;
  padding-top: 30px;
}

.sound-container {
  background-color: grey;
  border-radius: 5px;
  height: 4px;
  width: 375px;
  margin-left: 10px;
}

.sound-control {
  background-color: white;
  border-radius: 5px;
  height: 100%;
}

.btm-icon {
  padding-right: 10px;
  padding-left: 10px;
}

.btm-icon:hover {
  color: white;
}

.bottom-heart {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 200px;
}

.fa-shuffle {
  font-size: 20px;
  margin-left: 235px;
}

.fa-backward-step {
  font-size: 20px;
  margin-left: 250px;
}

.fa-circle-play,
.fa-circle-pause {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.fa-forward-step {
  font-size: 20px;
}

.fa-repeat {
  font-size: 20px;
}

.repeat-badge {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 13px;
  font-family: inherit;
  margin-left: -20px;
}

/* ----------Sidebar---------- */
.sidebar {
  background-color: black;
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  padding-left: 10px;
  padding-top: 10px;
}

.logo {
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

.brand-text {
  color: white;
  display: inline;
  padding-left: 5px;
  position: relative;
  bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul p {
  margin: 8px 0;
}

.sidebar li {
  width: 100%;
}

.fa-house,
.fa-magnifying-glass,
.fa-book,
.fa-circle-plus,
.left-heart {
  padding-right: 10px;
  padding-left: 30px;
}

.sidebar hr {
  width: 80%;
}

.playlists {
  margin-left: 30px;
  font-size: 14px;
}

/* ----------Playlist Screen---------- */

.playlist-screen {
  position: absolute;
  z-index: 1;
  margin-left: 240px;
  width: 80%;
  padding-bottom: 140px;
}

.playlist-screen-img,
.album-screen-img {
  width: 230px;
  height: 230px;
  padding-top: 80px;
  padding-left: 20px;
}

.playlist-header-text {
  padding-left: 20px;
}

.playlist-header-text h1,
h2,
h3 {
  margin: 0px;
}

.playlist-screen h1 {
  font-size: 60px;
}

.song-container {
  width: 100vw;
  background-color: #1e1e1e;
}

.song-container .fa-circle-play {
  color: var(--secondary);
  font-size: 60px;
  padding: 20px;
}

.options {
  font-size: 30px;
  padding-right: 30px;
}

.option-dropdown {
  z-index: 3;
}

.options-select {
  background-color: var(--secondary);
  margin-right: 10px;
  padding: 10px;
  border-radius: 30px;
}

.options-select:hover {
  background-color: #a205b4;
}

.playlist-screen .table {
  width: 90%;
  margin-left: 30px;
  text-align: left;
  padding-bottom: 50px;
  min-height: 200px;
}

.row {
  width: 80%;
  padding-left: 15px;
}

.playlist-screen .number {
  padding-right: 10px;
  width: 10px;
}

.playlist-screen .title {
  width: 40%;
}

.playlist-screen .album {
  width: 40%;
}

.song-table-row:hover {
  background-color: #393939;
  border-radius: 5px;
}

.song-table-row:hover .fa-ellipsis {
  padding-left: 20px;
  color: white;
  display: inline-block;
}

.playlist-screen-img-sm,
.album-screen-img-sm {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

.song-info {
  height: 40px;
  margin: 0 0 0 10px;
}

.song-info h5,
p {
  margin: 0;
  padding: 0;
}

.song-info p {
  font-size: 11px;
}

.song-row:hover {
  background-color: rgb(125, 125, 125);
}

.song-popup {
  position: absolute;
  right: 0;
  margin-top: -50px;
  margin-right: -10px;
}

.song-popup p {
  background-color: #131313;
  padding: 10px;
  margin: 0;
}

.song-popup p:hover {
  background-color: #2f2f2f;
  color: white;
}

.playlist-popup {
  position: fixed;
  left: 30%;
  bottom: 50%;
  width: 500px;
  background-color: #2f2f2f;
  border: 5px solid black;
  padding: 15px;
}

.playlist-popup p {
  padding: 10px;
  margin: 0;
}

/* ----------Edit Playlist Modal---------- */
.edit-playlist-modal {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-playlist-modal-content {
  background-color: rgb(36, 36, 36);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 350px;
}

.modal-closebtn {
  color: rgba(255, 255, 255, 0.667);
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}

.edit-playlist-modal img {
  padding-top: 20px;
  width: 200px;
  height: 200px;
}

.name-input {
  position: relative;
  top: -170px;
  left: 20px;
  width: 250px;
  height: 40px;
  background-color: rgb(83, 83, 83);
  border: transparent;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  padding-left: 20px;
}

.desc-input {
  position: relative;
  top: -150px;
  left: 220px;
  width: 250px;
  height: 130px;
  background-color: rgb(83, 83, 83);
  border: transparent;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  padding-left: 20px;
  resize: none;
}

.edit-playlist-modal button {
  position: relative;
  top: -100px;
  left: 120px;
  font-family: inherit;
  font-size: 16px;
  width: 100px;
  padding: 15px 10px;
  border-radius: 30px;
  font-weight: bold;
}

/* ----------Edit Image Modal----------*/
.edit-image-modal {
  position: fixed;
  z-index: 2;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-image-modal-content {
  background-color: rgb(36, 36, 36);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  height: 200px;
}

.edit-image-modal img {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  opacity: 0.5;
}

.edit-image-modal img:hover {
  opacity: 1;
}

/* ----------Album Screen----------*/
.album-screen {
  position: absolute;
  z-index: 1;
  margin-left: 240px;
  width: 80%;
  padding-bottom: 140px;
}

.album-song-container {
  width: 100vw;
  background-color: #1e1e1e;
}

.album-song-container .fa-circle-play {
  color: var(--secondary);
  font-size: 60px;
  padding: 20px;
}

.album-song-container .fa-ellipsis {
  padding-right: 20px;
  margin-top: 10px;
}

.album-song-table-row:hover .fa-ellipsis {
  padding-left: 20px;
  color: white;
  display: inline-block;
}

.album-screen .table {
  padding-top: 30px;
  width: 90%;
  margin-left: 30px;
  text-align: left;
  padding-bottom: 50px;
  min-height: 100px;
}

.album-screen .number {
  padding-right: 10px;
  width: 10px;
}

.album-screen .title {
  width: 80%;
}

.album-song-popup p {
  position: absolute;
  right: 0;
  margin-top: -50px;
  margin-right: 50px;
  background-color: #131313;
  padding: 10px;
}

.album-song-popup p:hover {
  background-color: #2f2f2f;
  color: white;
}

/* ----------Library Screen----------*/
.library-screen {
  position: absolute;
  z-index: 1;
  margin-left: 260px;
  width: 80%;
  padding-bottom: 100px;
}

.library-screen h2 {
  margin-top: 50px;
  padding-bottom: 20px;
}

.playlist-card {
  width: 200px;
  height: 300px;
  background-color: #1e1e1e;
  border-radius: 15px;
  transition: 0.5s;
}

.playlist-card:hover {
  background-color: #2f2f2f;
  transition: 0.5s;
}

.playlist-card img {
  width: 170px;
  height: 170px;
  margin-top: 15px;
  margin-left: 15px;
}

.playlist-card h4 {
  margin-bottom: 5px;
  margin-left: 15px;
}

.playlist-card h5 {
  margin-top: 0;
  margin-left: 15px;
  color: rgb(164, 164, 164);
}

.card-container {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ----------Search Screen----------*/
.search-screen {
  position: absolute;
  z-index: 1;
  margin-left: 280px;
  width: 80%;
  padding-bottom: 150px;
}

.search-bar {
  color: #555;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: white;
  width: fit-content;
}

.search-bar input {
  width: 250px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 12px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  font-family: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-icon {
  font-size: 20px;
  color: black;
  padding-top: 5px;
}

.search-screen hr {
  width: 100vw;
  height: 1px;
  background-color: white;
  color: white;
}

.search-card-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ----------Account Screen---------- */

.account-screen {
  position: absolute;
  z-index: 4;
  width: 100%;
  background-color: white;
  height: 140vh;
}

.account-box {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
}

.account-brand {
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.lg-brand-text-account {
  display: inline;
  padding-left: 5px;
  position: relative;
  bottom: 20px;
  font-size: 30px;
}

.back-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  background-color: var(--primary);
  color: white;
  border-radius: 30px;
  border: none;
}

.back-btn:hover {
  background-color: var(--secondary);
}

.account-submit {
  background-color: var(--secondary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-family: inherit;
  margin-top: 15px;
}

.account-submit:hover {
  background-color: var(--primary);
}
